@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  color: white;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #F9B23D;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 2px;
  color: white;  
}

.h3-yellow {
  color: #ffb548 !important;
}

@media (min-width: 480px) and (max-width: 768px) {
  .h3-yellow {
    font-size: 20px !important;
  }
}

@media (max-height: 414px) {
  .h3-yellow {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 479px) {
  .h3-yellow {
    font-size: 14px !important;
  }
}

p {
  margin: 0px;
  font-family: 'Arial';
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: white;
}

@media (min-width: 320px) and (max-width: 767.9px) {
  p {
    font-size: 12px !important;
  }
}

@media (max-height: 414px) {
  p {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 480px) {
  .draw, h2 {
    font-size: 20px !important;
  }
}

@media (max-height: 414) {
  .draw, h2 {
    font-size: 20px !important;
  }
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #FFB548;
}

.section-container {
  height: 100vh;
  width: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat; 
}

#main-screen {
  background-image: url(assets/images/main-bg.jpg);
}

#the-game {
  background-image: url(assets/images/the-games-bg.jpg);
}

#features {
  background-image: url(assets/images/features.jpg);
}

#requirements {
  background-image: url(assets/images/requirements.png);
}

#top-scores {
  background-image: url(assets/images/top-scores.png);
}

#newsletter {
  background-image: url(assets/images/screen-6-bg.png);
  background-size: 100% 100%;
  height: 100vh;
}

#mynav {
  width: auto;
  background: rgba(0, 0, 0, .5);
  padding: 22px 22px !important;
}

#mynavbrand {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .1em;
}

.nav-link {
  color: rgba(255,255,255,1) !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-right: 2rem; 
}

#s1-h1 {
  font-family: Arial, sans-serif;
  font-size: 72px;    
  font-weight: bold;
  color: rgb(255, 255, 255); 
}

@media screen and (max-width: 480px) {
  #s1-h1 {
    font-size: 42px;
  }
}

@media (max-height: 414px) {
  #s1-h1 {
    font-size: 42px !important;
  }
}

@media screen and (max-width: 480px) {
  #s1-h3 {
    font-size: 16px !important;
  }
}

@media (max-height: 414) {
  #s1-h3 {
    font-size: 16px !important;
  }
}

#main-screen h6 {
  font-family: 'Open Sans', sans-serif;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #mynavbrand {
    margin-left: 20px !important;
    margin-right: 40px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #leftnav {
    margin-right: 0px !important;
    margin-left: auto !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
.nav-link {
    margin-right: auto !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px)  {
  #mynavbrand {
    margin-left: 40px !important;
    margin-right: 60px !important;
  }
}

@media only screen and (min-width: 1200px) {
  #mynavbrand {
    margin-left: 80px !important;
    margin-right: 125px !important;
  }
}

.trial-btn {
  width: 260px !important;
  height: 60px !important;
  line-height: 2.5;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

#scroll-down {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
}

/* Screen-2 Styling */

.screen-2-content {
  height: 62vh;
  margin-top: 15vh;
  position: absolute;
}

@media screen and (max-width: 992px) {
  .screen-2-content {
    display: block !important;
  }
}

@media screen and (max-width: 992px) {
  .the-game {
    width: 100% !important;
    margin: auto !important;
  }
}

@media screen and (max-width: 400px) {
  #s2-h1 {
    font-size: 46px;
  }
}

/* Make the image fully responsive */
.carousel-img {
  width: 700px;
  height: 400px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .carousel-img {
    width: 90vw;
    height: 60vw;
    object-fit: cover;
  }  
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-control-prev  {
  margin-left: -5vw;
}

.carousel-control-next {
  margin-right: -5vw;
} 

/* Screen-3 Styling */

@media (min-width: 279) and (max-width: 420px) {
  .childhood {
    padding-right: 10px !important;
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .features-texts {
    font-size: 14px;
  }
}

#screen-3-content {
  margin-top: 11.5vh;
  position: absolute;
}

.childhood {
  padding-left: 8px;
  padding-right: 80px;
}

@media (min-width:768px) and (max-width: 991.9px) {
  .features {
    width: 40vw !important;
  }
}

@media (min-width:540px) and (max-width: 719.9px) {
  .childhood {
    font-size: 16px !important;
  }
}

@media (min-width:540px) and (max-width: 719.9px) {
  .features {
    width: 100vw !important;
  }
}

@media (min-width: 280px) and (max-width: 414px) {
  .features {
    width: 100% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
} 

@media (min-width:768px) and (max-width: 991.9px) {
  .childhood {
    padding-right: 0px;
  }
}

@media screen and (max-width: 400px) {
  #s3-h1 {
    font-size: 40px;
  }
}

/* Screen-4 Styling */

#screen-4-content {
  position: absolute;
}

@media (min-width: 320px) and (max-width: 480px) {
  .s4-h1 {
    font-size: 24px;
    line-height: 30px;
  }
}

.can-run {
  margin-bottom: -30px;
}

@media screen and (max-width: 992px) {
  .can-run {
    margin-bottom: 0px;
    text-align: left !important;
  } 
}

@media (min-width: 320px) and (max-width: 768px) {
  .s4-headers {
    margin-left: 16.5px !important;
    margin-right: 16.5px !important;
  }
}

table {
  table-layout: fixed;
}

@media screen and (max-width: 992px) {
  .table-container {
    width: 90% !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

td {
  padding: 10px;
  width: 50%;
  vertical-align: top;
  border: 2px solid rgb(255, 255, 255, 0.3);
}

tr {
  width: 50%;
}

td > div {
  height: 100px;
}

/* Screen-5 Styling */

#screen-5-content {
  margin-left: 10vw;
  margin-right: 10vw;
  position: absolute;
}

@media (min-width: 768px) and (max-width: 991.9px) {
  #screen-5-content {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}

@media screen and (max-width: 767.9px) {
  #screen-5-content {
    flex-direction: column !important;
  }
}

@media (max-width: 767.9px) {
  #screen-5-content {
    margin-left: 5vw !important;
    margin-right: 5vw !important;
    align-content: center;
    align-items: center;   
  }
}

@media (max-width: 767.9px) {
  #topscore-left {
    width: auto !important;
    text-align: center;
  }
}

@media (max-width: 767.9px) {
  #topscore-right {
    width: auto !important;
  }
}

@media (max-width: 767.9px) {
  #s5-h1 {
    font-size: 36px !important;
    margin-bottom: 0px !important;
  }
}

@media (max-width: 767.9px) {
  #topscore-left-p {
    width: auto !important;
  }
}

.player-name {
    margin-left: 22%;
}

@media (max-width: 767.9px) {
.player-name {
  margin-left: 27%;
  }
}

@media (max-width: 767.9px) {
  .seemore-btn {
    margin: 0px !important;
  }
}

#screen-5-content p {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

#screen-5-content h3 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #FFB548;
}

#screen-5-content h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight:normal;
  color:rgba(255, 255, 255, 0.5);
}

#screen-5-content h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight:normal;
  color: rgba(255, 255, 255, 0.5);
}

.the-player {
  height: 200px;
}

.top-score {
  position:relative;
  background-image: url(assets/images/player-1/Ellipse.svg); 
  background-size: 70px 70px;
  background-repeat: no-repeat;
  width: 100%;
  height: 80px;  
  margin-top: 15px;
}

@media (min-width: 768px) and (max-width: 991.9px) {
  .the-player {
    margin-right: -62px ;
    margin-left: -62px;
  }
}

@media (max-width: 767.9px) {
  .the-player {
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    height: auto !important;
  }
}

.cards {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  height: 180px;
}

@media (min-width: 768px) and (max-width: 991.9px) {
  .cards {
    margin-left: 10%;
  }
}

@media screen and (max-width: 767.9px) {
  .cards {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 160px !important;
  }
}

@media (max-width: 411px) {
  .cards {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 145px !important;
  }
}

.quotes {
  margin-bottom: 5px;
  margin-top: -5px;
}

@media (max-width: 411px) {
  .quotes {
    line-height: 15px;
  }
}

/* Screen-6 Styling*/

#screen-6-content {
  position: absolute;
}

#screen-6-img {
  background-image: url(assets/images/screen-6-image.png);
}

#screen-6-content h3 {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

#screen-6-content p {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

@media (max-width: 767.9px) {
  .s6-h1 {
    font-size: 36px !important;
    line-height: 30px;
  }
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}

#email {
  width: 55%;
  height: 100%;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  border-color:rgba(255, 255, 255, 0.0);
  border-radius: 5px;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #d39e00;
  color: rgb(0, 0, 0);
  cursor: pointer;
  width: 260.36px;
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.form-inline button:hover {
  background-color: #b68902;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
} 
@media (max-width: 800px) {
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

.myfooter {
  width: 80%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color:#ffffff;
  /* line-height: 16px; */
  letter-spacing: 0.1em;
}

@media (max-width: 767.9px) {
.container {
    max-width: 720px !important;
  }
}

@media (max-width: 767.9px) {
  .myfooter {
    font-size: 10px !important;
    width: 100%;
  }
}

@media (max-width: 576.9px) {
  .myfooter {
    font-size: 8px !important;
    width: 100%;
    flex-wrap: wrap;
  }
}

@media (max-width: 540px) {
.soc-icons {
  width: 20px;
  height: auto;
  padding: 0px;
  }
}

@media (max-width: 540px) {
  .copyright {
    font-size: 10px !important;
  }
}

@media (max-height: 640px) {
  footer div {
    margin-top: 5px !important;
  }
}

@media (max-height: 640px) {
  .s6 {
    margin-top: 10px !important;
  }
}

.top-border {
  border-top: 0.9px solid #ffffff;
}

.copyright {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* Trial Page */

.trial {
  background: #9C835F;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#exit-trial {
  font-family: 'Open Sans', sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: #724C21;
  background: none;
  border: none;
}

.row {
  align-items: center;
}

.option {
  margin: auto auto;
  height: 20vh;
  width: 10vw;
}

@media (max-width: 480px) {
  .option {
    width: 10vh;
  }
}

.player-button, .com-button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;  
}

.clicked {
  background-color: #c4c4c4 !important;
  border-radius: 25px !important;
}

.status {
  font-family: 'Open Sans', sans-serif;
  font-size: 10vw;
  font-weight: 700;
  color: #BD0000;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-result {
  color: white !important;
  flex-direction: column;
  background-color:#4c9654 !important;
  transform: rotate(-30deg);
}

.draw {
  background-color: #035b0c !important;
  color: white !important;
  font-size: 36px;
}

.winner {
  color: white !important;
  display: block;
  text-align: center;
}

#refresh-game {
  width: auto;
  height: auto;
  background: none;
  border: none;
}

.batu {
  width: 8vw;
  height: auto;
}

.kertas, .gunting {
  width: auto;
  height: 8vw;
}